{% extends "base.html" %}

{% block title %}Merlin Network State Centre{% endblock %}
{% block content %}
<h1>Merlin Network State Centre</h1>
{% if vlan_additions %}
<h2>Merlin has detected the following VLAN configurations have been added</h2>
<table id = "vlan_additions" class="table table-bordered">
  <thead class = "alert-success">
    <tr>
    <th>pyATS Alias</th>
    <th>VLAN</th>
    <th>Name</th>
    <th>State</th>
    <th>Shutdown</th>
    <th>Interfaces</th>
    <th>Mode</th>
    <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>{% for vlan in vlan_additions %}
    <tr>
      <td>{{ vlan.pyats_alias }}</td>
      <td>{{ vlan.vlan }}</td>
      <td>{{ vlan.name }}</td>
      <td>{{ vlan.state }}</td>
      <td>{{ vlan.shutdown }}</td>
      <td>{{ vlan.interfaces }}</td>
      <td>{{ vlan.mode }}</td>
      <td>{{ vlan_latest_timestamp }}</td>
    </tr>{% endfor %}  
    </tbody>
  </table>
{% else %}
<h2>Merlin has not detected any VLAN configuration additons</h2>
{% endif %}
{% if vlan_removals %}
<h2>Merlin has detected the following VLAN configurations have been removed</h2>
<table id = "vlan_removals" class="table table-bordered">
  <thead class = "alert-success">
    <tr>
    <th>pyATS Alias</th>
    <th>VLAN</th>
    <th>Name</th>
    <th>State</th>
    <th>Shutdown</th>
    <th>Interfaces</th>
    <th>Mode</th>
    <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>{% for vlan in vlan_removals %}
    <tr>
      <td>{{ vlan.pyats_alias }}</td>
      <td>{{ vlan.vlan }}</td>
      <td>{{ vlan.name }}</td>
      <td>{{ vlan.state }}</td>
      <td>{{ vlan.shutdown }}</td>
      <td>{{ vlan.interfaces }}</td>
      <td>{{ vlan.mode }}</td>
      <td>{{ vlan_new_timestamp }}</td>
    </tr>{% endfor %}  
    </tbody>
  </table>
{% else %}
<h2>Merlin has not detected any VLAN configuration removals</h2>
{% endif %}
{% if vrf_additions %}
<h2>Merlin has detected the following VRF configurations have been added</h2>
{% for vrf in vrf_additions %}
<table id = "vrf_additions" class="table table-bordered">
  <thead class = "alert-success">
    <table class="merlin-table">
        <tr>
          <th>pyATS Alias</th>          
          <th>VRF</th>
          <th>Address Family IPv4</th>
          <th>Address Family IPv6</th>
          <th>Route Distinguisher</th>
          <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ vrf.pyats_alias }}</td>
          <td>{{ vrf.vrf }}</td>
          <td>{{ vrf.address_family_ipv4 }}</td>
          <td>{{ vrf.address_family_ipv6 }}</td>
          <td>{{ vrf.route_distinguisher }}</td>
          <td>{{ vrf_latest_timestamp }}</td>
        </tr>
        </tbody></table>{% endfor %}
{% else %}
<h2>Merlin has not detected any VRF configuration additons</h2>
{% endif %}
{% if vrf_removals %}
<h2>Merlin has detected the following VRF configurations have been removed</h2>
{% for vrf in vrf_removals %}
<table id = "vrf_removals" class="table table-bordered">
  <thead class = "alert-success">
        <tr>
          <th>pyATS Alias</th>          
          <th>VRF</th>
          <th>Address Family IPv4</th>
          <th>Address Family IPv6</th>
          <th>Route Distinguisher</th>
          <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ vrf.pyats_alias }}</td>
          <td>{{ vrf.vrf }}</td>
          <td>{{ vrf.address_family_ipv4 }}</td>
          <td>{{ vrf.address_family_ipv6 }}</td>
          <td>{{ vrf.route_distinguisher }}</td>
          <td>{{ vrf_new_timestamp }}</td>
        </tr>
        </tbody></table>{% endfor %}
{% else %}
<h2>Merlin has not detected any VRF configuration removals</h2>
{% endif %}
{% if inventory_additions %}
<h2>Merlin has detected the following Inventory items have been added</h2>
<table id = "inventory_additions" class="table table-bordered">
  <thead class = "alert-success">
  <thead>
  <tr>
    <th>pyATS Alias</th>
    <th>Slot</th>
    <th>Description</th>
    <th>PID</th>
    <th>Serial Number</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for part in inventory_additions %}
<tr>
    <td>{{ part.pyats_alias }}</td>
    <td>{{ part.part }}</td>
    <td>{{ part.description }}</td>
    <td>{{ part.pid }}</td>
    <td>{{ part.serial_number }}</td>
    <td>{{ part.timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
{% else %}
<h2>Merlin has not detected any Inventory additons</h2>
{% endif %}
{% if inventory_removals %}
<h2>Merlin has detected the following Inventory items have been removed</h2>
<table id = "inventory_removals" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Slot</th>
    <th>Description</th>
    <th>PID</th>
    <th>Serial Number</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for part in inventory_removals %}
<tr>
    <td>{{ part.pyats_alias }}</td>
    <td>{{ part.part }}</td>
    <td>{{ part.description }}</td>
    <td>{{ part.pid }}</td>
    <td>{{ part.serial_number }}</td>
    <td>{{ part.timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
{% else %}
<h2>Merlin has not detected any Inventory configuration removals</h2>
{% endif %}
{% if interface_additions %}
<h2>Merlin has detected the following IP Interface Brief configurations have been added</h2>
<table id = "interface_additions" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>IP Address</th>
    <th>Status</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for interface in interface_additions %}
  <tr>
    <td>{{ interface.pyats_alias }}</td>
    <td>{{ interface.interface }}</td>
    <td>{{ interface.ip_address }}</td>
    <td>{{ interface.interface_status }}</td>
    <td>{{ interface_latest_timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
{% else %}
<h2>Merlin has not detected any IP Interface Brief configuration additions</h2>
{% endif %}
{% if interface_removals %}
<h2>Merlin has detected the following IP Interface Brief configurations have been removed</h2>
<table id = "interface_removals" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>IP Address</th>
    <th>Status</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for interface in interface_removals %}
  <tr>
    <td>{{ interface.pyats_alias }}</td>
    <td>{{ interface.interface }}</td>
    <td>{{ interface.ip_address }}</td>
    <td>{{ interface.interface_status }}</td>
    <td>{{ interface_new_timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
{% else %}
<h2>Merlin has not detected any IP Interface Brief configuration removals</h2>
{% endif %}
{% if version_additions %}
<h2>Merlin has detected the following Version configurations have been added</h2>
{% for version in version_additions %}
{%   if version.os == "nxos" %}
<table id = "version_additions" class="table table-bordered">
  <thead class = "alert-success">
        <tr>
          <th>pyATS Alias</th>
          <th>Hostname</th>
          <th>Bootflash</th>
          <th>Chassis</th>
          <th>CPU</th>
          <th>Memory</th>
          <th>Model</th>
          <th>Processor Board ID</th>
          <th>RP</th>
          <th>Slots</th>
          <th>Name</th>
          <th>OS</th>
          <th>Last Reload Reason</th>
          <th>System Compile Time</th>
          <th>System Image File</th>
          <th>System Version</th>
          <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ version.pyats_alias }}</td>
          <td>{{ version.device_name }}</td>          
          <td>{{ version.bootflash }}</td>
          <td>{{ version.chassis }}</td>
          <td>{{ version.cpu }}</td>
          <td>{{ version.memory }}</td>
          <td>{{ version.model }}</td>
          <td>{{ version.processor_board_id }}</td>
          <td>{{ version.rp }}</td>
          <td>{{ version.slots }}</td>
          <td>{{ version.name }}</td>
          <td>{{ version.os }}</td>
          <td>{{ version.reason }}</td>
          <td>{{ version.system_compile_time }}</td>
          <td>{{ version.system_image_file }}</td>
          <td>{{ version.system_version }}</td>
          <td>{{ version_latest_timestamp }}</td>
        </tr>
        </tbody>  
      </table>
{%   else %}
<table id = "version_additions" class="table table-bordered">
  <thead class = "alert-success">
        <tr>
          <th>pyATS Alias</th>
          <th>Hostname</th>          
          <th>Bootflash</th>
          <th>Chassis</th>
          <th>Chassis Serial Number</th>
          <th>Platform</th>
          <th>Processor Type</th>
          <th>Memory</th>
          <th>Model</th>
          <th>OS</th>
          <th>Last Reload Reason</th>
          <th>System Compile Time</th>
          <th>System Image File</th>
          <th>System Version</th>
          <th>Compiled By</th>
          <th>Current Config Register</th>
          <th>Image ID</th>
          <th>Image Type</th>
          <th>Label</th>
          <th>License Level</th>
          <th>License Type</th>
          <th>Next Reload License Level</th>
          <th>Non Volatile Memory</th>
          <th>Physical Memory</th>
          <th>Returned to ROM By</th>
          <th>ROM</th>
          <th>Router Type</th>
          <th>Version Short</th>
          <th>XE Version</th>
          <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ version.pyats_alias }}</td>
          <td>{{ version.device_name }}</td>
          <td>{{ version.bootflash }}</td>
          <td>{{ version.chassis }}</td>
          <td>{{ version.chassis_sn }}</td>
          <td>{{ version.platform }}</td>
          <td>{{ version.processor_type }}</td>
          <td>{{ version.memory }}</td>
          <td>{{ version.model }}</td>
          <td>{{ version.os }}</td>
          <td>{{ version.reason }}</td>
          <td>{{ version.system_compile_time }}</td>
          <td>{{ version.system_image_file }}</td>
          <td>{{ version.system_version }}</td>
          <td>{{ version.compiled_by }}</td>
          <td>{{ version.curr_config_register }}</td>
          <td>{{ version.image_id }}</td>
          <td>{{ version.image_type }}</td>
          <td>{{ version.label }}</td>
          <td>{{ version.license_level }}</td>
          <td>{{ version.license_type }}</td>
          <td>{{ version.next_reload_license_level }}</td>
          <td>{{ version.non_volatile }}</td>
          <td>{{ version.physical }}</td>
          <td>{{ version.returned_to_rom_by }}</td>
          <td>{{ version.rom }}</td>
          <td>{{ version.rtr_type }}</td>
          <td>{{ version.version_short }}</td>
          <td>{{ version.xe_version }}</td>
          <td>{{ version_latest_timestamp }}</td>
        </tr>
      </tbody>
    </table>{% endif %}
  {% endfor %}
{% else %}
<h2>Merlin has not detected any Version configuration additons</h2>
{% endif %}
{% if version_removals %}
<h2>Merlin has detected the following Version configurations have been removed</h2>
{% for version in version_removals %}
{%   if version.os == "nxos" %}
<table id = "version_removals" class="table table-bordered">
  <thead class = "alert-success">
        <tr>
          <th>pyATS Alias</th>
          <th>Hostname</th>
          <th>Bootflash</th>
          <th>Chassis</th>
          <th>CPU</th>
          <th>Memory</th>
          <th>Model</th>
          <th>Processor Board ID</th>
          <th>RP</th>
          <th>Slots</th>
          <th>Name</th>
          <th>OS</th>
          <th>Last Reload Reason</th>
          <th>System Compile Time</th>
          <th>System Image File</th>
          <th>System Version</th>
          <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ version.pyats_alias }}</td>
          <td>{{ version.device_name }}</td>          
          <td>{{ version.bootflash }}</td>
          <td>{{ version.chassis }}</td>
          <td>{{ version.cpu }}</td>
          <td>{{ version.memory }}</td>
          <td>{{ version.model }}</td>
          <td>{{ version.processor_board_id }}</td>
          <td>{{ version.rp }}</td>
          <td>{{ version.slots }}</td>
          <td>{{ version.name }}</td>
          <td>{{ version.os }}</td>
          <td>{{ version.reason }}</td>
          <td>{{ version.system_compile_time }}</td>
          <td>{{ version.system_image_file }}</td>
          <td>{{ version.system_version }}</td>
          <td>{{ version_new_timestamp }}</td>
        </tr>
        </tbody>  
      </table>
{% else %}
<table id = "version_removals" class="table table-bordered">
  <thead class = "alert-success">
        <tr>
          <th>pyATS Alias</th>
          <th>Hostname</th>          
          <th>Bootflash</th>
          <th>Chassis</th>
          <th>Chassis Serial Number</th>
          <th>Platform</th>
          <th>Processor Type</th>
          <th>Memory</th>
          <th>Model</th>
          <th>OS</th>
          <th>Last Reload Reason</th>
          <th>System Compile Time</th>
          <th>System Image File</th>
          <th>System Version</th>
          <th>Compiled By</th>
          <th>Current Config Register</th>
          <th>Image ID</th>
          <th>Image Type</th>
          <th>Label</th>
          <th>License Level</th>
          <th>License Type</th>
          <th>Next Reload License Level</th>
          <th>Non Volatile Memory</th>
          <th>Physical Memory</th>
          <th>Returned to ROM By</th>
          <th>ROM</th>
          <th>Router Type</th>
          <th>Version Short</th>
          <th>XE Version</th>
          <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ version.pyats_alias }}</td>
          <td>{{ version.device_name }}</td>
          <td>{{ version.bootflash }}</td>
          <td>{{ version.chassis }}</td>
          <td>{{ version.chassis_sn }}</td>
          <td>{{ version.platform }}</td>
          <td>{{ version.processor_type }}</td>
          <td>{{ version.memory }}</td>
          <td>{{ version.model }}</td>
          <td>{{ version.os }}</td>
          <td>{{ version.reason }}</td>
          <td>{{ version.system_compile_time }}</td>
          <td>{{ version.system_image_file }}</td>
          <td>{{ version.system_version }}</td>
          <td>{{ version.compiled_by }}</td>
          <td>{{ version.curr_config_register }}</td>
          <td>{{ version.image_id }}</td>
          <td>{{ version.image_type }}</td>
          <td>{{ version.label }}</td>
          <td>{{ version.license_level }}</td>
          <td>{{ version.license_type }}</td>
          <td>{{ version.next_reload_license_level }}</td>
          <td>{{ version.non_volatile }}</td>
          <td>{{ version.physical }}</td>
          <td>{{ version.returned_to_rom_by }}</td>
          <td>{{ version.rom }}</td>
          <td>{{ version.rtr_type }}</td>
          <td>{{ version.version_short }}</td>
          <td>{{ version.xe_version }}</td>
          <td>{{ version_new_timestamp }}</td>
        </tr>
      </tbody>
    </table>{% endif %}
  {% endfor %}
{% else %}
<h2>Merlin has not detected any Version configuration removals</h2>
{% endif %}
<script type = "text/javascript">
    $(document).ready(function(){
        $('#vlan_additions').DataTable();
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#vlan_removals').DataTable();
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#vrf_additions').DataTable();
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#vrf_removals').DataTable();
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#inventory_additions').DataTable();
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#inventory_removals').DataTable();
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#interface_additions').DataTable();
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#interface_removals').DataTable();
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#version_additions').DataTable();
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#version_removals').DataTable();
    });
</script>
{% endblock %} 