{% extends "base.html" %}

{% block title %}Merlin Network State Centre{% endblock %}

{% block content %}
<h1>Merlin Network State Centre</h1>
<table id = "changes" class="table table-bordered">
  <thead class = "alert-success">
    <tr>
      <th>Command</th>
      <th>All Devices</th>
      <th>Filtered Devices</th>
      <th>Available Filters</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>All</td>
        <td><a href="http://localhost:8000/Changes/all_changes/"><button id="all_changes_button">Get All Changes</button></a></td>
        <td>
          <div id ="get_all_filter">
            <form id = "get_all_filter" action="{% url 'get_all_changes_filter' %}" method="get">
              <input name="get_all_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      </tr>
      <tr>
        <td>End of Life - Part ID</td>
        <td><a href="http://localhost:8000/Changes/eox_pid_changes/"><button id="eox_pid_changes_button">Get End of Life - PID Changes</button></a></td>
        <td>
          <div id ="eox_pid_filter">
            <form id = "eox_pid_filter" action="{% url 'eox_pid_changes_filter' %}" method="get">
              <input name="eox_pid_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>      
      <tr>
        <td>End of Life - Serial Number</td>
        <td><a href="http://localhost:8000/Changes/eox_sn_changes/"><button id="eox_sn_changes_button">Get End of Life - Serial Number Changes</button></a></td>
        <td>
          <div id ="eox_sn_filter">
            <form id = "eox_sn_filter" action="{% url 'eox_sn_changes_filter' %}" method="get">
              <input name="eox_sn_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>      
      <tr>
        <td>End of Life - Software</td>
        <td><a href="http://localhost:8000/Changes/eox_sw_changes/"><button id="eox_sw_changes_button">Get End of Life - Software Changes</button></a></td>
        <td>
          <div id ="eox_sw_filter">
            <form id = "eox_sw_filter" action="{% url 'eox_sw_changes_filter' %}" method="get">
              <input name="eox_sw_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr> 
      <tr>      
        <td>Learn ACL</td>
        <td><a href="http://localhost:8000/Changes/learn_acl_changes/"><button id="learn_acl_changes_button">Get Learn ACL Changes</button></a></td>
        <td>
          <div id ="learn_acl_filter">
            <form id = "learn_acl_filter" action="{% url 'learn_acl_changes_filter' %}" method="get">
              <input name="learn_acl_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
        <td>Learn ARP</td>
        <td><a href="http://localhost:8000/Changes/learn_arp_changes/"><button id="learn_arp_changes_button">Get Learn ARP Changes</button></a></td>
        <td>
          <div id ="learn_arp_filter">
            <form id = "learn_arp_filter" action="{% url 'learn_arp_changes_filter' %}" method="get">
              <input name="learn_arp_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
        <td>Learn ARP Statistics</td>
        <td><a href="http://localhost:8000/Changes/learn_arp_statistics_changes/"><button id="learn_arp_statistics_changes_button">Get Learn ARP Statistics Changes</button></a></td>
        <td>
          <div id ="learn_arp_statistics_filter">
            <form id = "learn_arp_statistics_filter" action="{% url 'learn_arp_statistics_changes_filter' %}" method="get">
              <input name="learn_arp_statistics_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      </tr>
      <tr>
        <td>Learn BGP Instance</td>
        <td><a href="http://localhost:8000/Changes/learn_bgp_instance_changes/"><button id="learn_bgp_instances_changes_button">Get Learn BGP Instances Changes</button></a></td>
        <td>
          <div id ="learn_bgp_instance_filter">
            <form id = "learn_bgp_instance_filter" action="{% url 'learn_bgp_instance_changes_filter' %}" method="get">
              <input name="learn_bgp_instance_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
        <td>Learn BGP Route</td>
        <td><a href="http://localhost:8000/Changes/learn_bgp_route_changes/"><button id="learn_bgp_route_changes_button">Get Learn BGP Route Changes</button></a></td>
        <td>
          <div id ="learn_bgp_route_filter">
            <form id = "learn_bgp_route_filter" action="{% url 'learn_bgp_route_changes_filter' %}" method="get">
              <input name="learn_bgp_route_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
        <td>Learn BGP Table</td>
        <td><a href="http://localhost:8000/Changes/learn_bgp_table_changes/"><button id="learn_bgp_route_changes_button">Get Learn BGP Table Changes</button></a></td>
        <td>
          <div id ="learn_bgp_table_filter">
            <form id = "learn_bgp_table_filter" action="{% url 'learn_bgp_table_changes_filter' %}" method="get">
              <input name="learn_bgp_table_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>         
      </tr>
      <tr>
        <td>Learn Config</td>
        <td><a href="http://localhost:8000/Changes/learn_config_changes/"><button id="learn_config_changes_button">Get Learn Config Changes</button></a></td>
        <td>
          <div id ="learn_config_filter">
            <form id = "learn_config_filter" action="{% url 'learn_config_changes_filter' %}" method="get">
              <input name="learn_config_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>         
      </tr>      
      <tr>
        <td>Learn Interface</td>
        <td><a href="http://localhost:8000/Changes/learn_interface_changes/"><button id="learn_interface_changes_button">Get Learn Interface Changes</button></a></td>
        <td>
          <div id ="learn_interface_filter">
            <form id = "learn_interface_filter" action="{% url 'learn_interface_changes_filter' %}" method="get">
              <input name="learn_interface_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
        <td>Learn Platform</td>
        <td><a href="http://localhost:8000/Changes/learn_platform_changes/"><button id="learn_platform_changes_button">Get Learn Platform Changes</button></a></td>
        <td>
          <div id ="learn_platform_filter">
            <form id = "learn_platform_filter" action="{% url 'learn_platform_changes_filter' %}" method="get">
              <input name="learn_platform_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
        <td>Learn Platform Slots</td>
        <td><a href="http://localhost:8000/Changes/learn_platform_slots_changes/"><button id="learn_platform_slots_changes_button">Get Learn Platform Slot Changes</button></a></td>
        <td>
          <div id ="learn_platform_slots_filter">
            <form id = "learn_platform_slots_filter" action="{% url 'learn_platform_slots_changes_filter' %}" method="get">
              <input name="learn_platform_slots_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
        <td>Learn Platform Virtual</td>
        <td><a href="http://localhost:8000/Changes/learn_platform_virtual_changes/"><button id="learn_platform_virtual_changes_button">Get Learn Platform Virtual Changes</button></a></td>
        <td>
          <div id ="learn_platform_virtual_filter">
            <form id = "learn_platform_virtual_filter" action="{% url 'learn_platform_virtual_changes_filter' %}" method="get">
              <input name="learn_platform_virtual_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>      
      <tr>
        <td>Learn VLAN</td>
        <td><a href="http://localhost:8000/Changes/learn_vlan_changes/"><button id="learn_vlan_changes_button">Get Learn VLAN Changes</button></a></td>
        <td>
          <div id ="learn_vlan_filter">
            <form id = "learn_vlan_filter" action="{% url 'learn_vlan_changes_filter' %}" method="get">
              <input name="learn_vlan_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>      
      <tr>
        <td>Learn VRF</td>
        <td><a href="http://localhost:8000/Changes/learn_vrf_changes/"><button id="learn_vrf_changes_button">Get Learn VRF Changes</button></a></td>
        <td>
          <div id ="learn_vrf_filter">
            <form id = "learn_vrf_filter" action="{% url 'learn_vrf_changes_filter' %}" method="get">
              <input name="learn_vrf_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
        <td>Network Map</td>
        <td><a href="http://localhost:8000/Changes/nmap_changes/"><button id="nmap_changes_button">Get NMAP Changes</button></a></td>
        <td>
          <div id ="nmap_filter">
            <form id = "nmap_filter" action="{% url 'nmap_changes_filter' %}" method="get">
              <input name="nmap_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>      
      <tr>
        <td>PSIRT</td>
        <td><a href="http://localhost:8000/Changes/psirt_changes/"><button id="psirt_changes_button">Get PSIRT Changes</button></a></td>
        <td>
          <div id ="psirt_filter">
            <form id = "psirt_filter" action="{% url 'psirt_changes_filter' %}" method="get">
              <input name="psirt_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
      <tr>
        <td>Recommended Release</td>
        <td><a href="http://localhost:8000/Changes/recommended_changes/"><button id="recommended_changes_button">Get Recommended Release Changes</button></a></td>
        <td>
          <div id ="recommended_filter">
            <form id = "recommended_filter" action="{% url 'recommended_changes_filter' %}" method="get">
              <input name="recommended_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
      <tr>
        <td>Serial 2 Contract</td>
        <td><a href="http://localhost:8000/Changes/serial2contract_changes/"><button id="serial2contract_changes_button">Get Serial 2 Contract Changes</button></a></td>
        <td>
          <div id ="serial2contract_filter">
            <form id = "serial2contract_filter" action="{% url 'serial2contract_changes_filter' %}" method="get">
              <input name="serial2contract_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>      
      <tr>        
        <td>Show Inventory</td>
        <td><a href="http://localhost:8000/Changes/show_inventory_changes/"><button id="show_inventory_changes_button">Get Show Inventory Changes</button></a></td>
        <td>
          <div id ="show_inventory_filter">
            <form id = "show_inventory_filter" action="{% url 'show_inventory_changes_filter' %}" method="get">
              <input name="show_inventory_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>
      <tr>
        <td>Show IP Interface Brief</td>
        <td><a href="http://localhost:8000/Changes/show_ip_int_brief_changes/"><button id="show_ip_int_brief_changes_button">Get Show IP Interface Brief Changes</button></a></td>
        <td>
          <div id ="show_ip_int_brief_filter">
            <form id = "show_ip_int_brief_filter" action="{% url 'show_ip_int_brief_changes_filter' %}" method="get">
              <input name="show_ip_int_brief_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>      
      <tr>
        <td>Show Version</td>
        <td><a href="http://localhost:8000/Changes/show_version_changes/"><button id="show_version_changes_button">Get Show Version Changes</button></a></td>
        <td>
          <div id ="show_version_filter">
            <form id = "show_version_filter" action="{% url 'show_version_changes_filter' %}" method="get">
              <input name="show_version_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>        
      </tr>      
  </tbody>  
</table>
<script>
  $(document).ready( function () {
    $('#changes').DataTable({
      keys: true,
      colReorder: true,
      select: true,
    });
} ); 
</script>
{% endblock %}  