{% extends "base.html" %}

{% block title %}Merlin Network State Centre{% endblock %}
{% block content %}
<h1>Merlin Network State Centre</h1>
{% if vlan_additions %}
<h2>Merlin has detected the following VLAN configurations have been added</h2>
<table id = "learn_vlan_additions" class="table table-bordered">
  <thead class = "alert-success">
    <tr>
    <th>pyATS Alias</th>
    <th>VLAN</th>
    <th>Name</th>
    <th>State</th>
    <th>Shutdown</th>
    <th>Interfaces</th>
    <th>Mode</th>
    <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>{% for vlan in vlan_additions %}
    <tr>
      <td>{{ vlan.pyats_alias }}</td>
      <td>{{ vlan.vlan }}</td>
      <td>{{ vlan.name }}</td>
      <td>{{ vlan.state }}</td>
      <td>{{ vlan.shutdown }}</td>
      <td>{{ vlan.interfaces }}</td>
      <td>{{ vlan.mode }}</td>
      <td>{{ vlan_latest_timestamp }}</td>
    </tr>{% endfor %}  
    </tbody>
  </table>
{% else %}
<h2>Merlin has not detected any VLAN configuration additons</h2>
{% endif %}
{% if vlan_removals %}
<h2>Merlin has detected the following VLAN configurations have been removed</h2>
<table id = "learn_vlan_removals" class="table table-bordered">
  <thead class = "alert-success">
    <tr>
    <th>pyATS Alias</th>
    <th>VLAN</th>
    <th>Name</th>
    <th>State</th>
    <th>Shutdown</th>
    <th>Interfaces</th>
    <th>Mode</th>
    <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>{% for vlan in vlan_removals %}
    <tr>
      <td>{{ vlan.pyats_alias }}</td>
      <td>{{ vlan.vlan }}</td>
      <td>{{ vlan.name }}</td>
      <td>{{ vlan.state }}</td>
      <td>{{ vlan.shutdown }}</td>
      <td>{{ vlan.interfaces }}</td>
      <td>{{ vlan.mode }}</td>
      <td>{{ vlan_new_timestamp }}</td>
    </tr>{% endfor %}  
    </tbody>
  </table>
{% else %}
<h2>Merlin has not detected any VLAN configuration removals</h2>
{% endif %}
<script type = "text/javascript">
    $(document).ready(function(){
        $('#learn_vlan_additions').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#learn_vlan_removals').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
{% endblock %} 