{% extends "base.html" %}

{% block title %}Merlin Network State Centre{% endblock %}
{% block content %}
<h1>Merlin Network State Centre</h1>
{% if vrf_additions %}
<h2>Merlin has detected the following VRF configurations have been added</h2>
{% for vrf in vrf_additions %}
<table id = "vrf_additions" class="table table-bordered">
  <thead class = "alert-success">
        <tr>
          <th>pyATS Alias</th>          
          <th>VRF</th>
          <th>Address Family IPv4</th>
          <th>Address Family IPv6</th>
          <th>Route Distinguisher</th>
          <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ vrf.pyats_alias }}</td>
          <td>{{ vrf.vrf }}</td>
          <td>{{ vrf.address_family_ipv4 }}</td>
          <td>{{ vrf.address_family_ipv6 }}</td>
          <td>{{ vrf.route_distinguisher }}</td>
          <td>{{ vrf_latest_timestamp }}</td>
        </tr>
        </tbody></table>{% endfor %}
{% else %}
<h2>Merlin has not detected any VRF configuration additons</h2>
{% endif %}
{% if vrf_removals %}
<h2>Merlin has detected the following VRF configurations have been removed</h2>
{% for vrf in vrf_removals %}
<table id = "vrf_removals" class="table table-bordered">
  <thead class = "alert-success">
        <tr>
          <th>pyATS Alias</th>          
          <th>VRF</th>
          <th>Address Family IPv4</th>
          <th>Address Family IPv6</th>
          <th>Route Distinguisher</th>
          <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ vrf.pyats_alias }}</td>
          <td>{{ vrf.vrf }}</td>
          <td>{{ vrf.address_family_ipv4 }}</td>
          <td>{{ vrf.address_family_ipv6 }}</td>
          <td>{{ vrf.route_distinguisher }}</td>
          <td>{{ vrf_new_timestamp }}</td>
        </tr>
        </tbody></table>{% endfor %}
{% else %}
<h2>Merlin has not detected any VRF configuration removals</h2>
{% endif %}
<script type = "text/javascript">
    $(document).ready(function(){
        $('#vrf_additions').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#vrf_removals').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
{% endblock %} 