{% extends "base.html" %}

{% block title %}Merlin Network State Centre{% endblock %}
{% block content %}
<h1>Merlin Network State Centre</h1>
{% if bgp_table_additions %}
<h2>Merlin has detected the following BGP Table configurations have been added</h2>
<table id = "bgp_table_additions" class="table table-bordered">
    <thead class = "alert-success">
        <tr>
            <th>pyATS Alias</th>
            <th>Instance</th>
            <th>VRF</th>
            <th>Table Version</th>
            <th>Prefix</th>
            <th>Index</th>
            <th>Local Preference</th>
            <th>Next Hop</th>
            <th>Origin Code</th>
            <th>Status Code</th>
            <th>Weight</th>
            <th>Timestamp</th>
          </tr>
          </thead>
          <tbody>{% for instance in bgp_table_additions %}
        <tr>
            <td>{{ instance.pyats_alias }}</td>
            <td>{{ instance.instance }}</td>
            <td>{{ instance.vrf }}</td>
            <td>{{ instance.table_version }}</td>
            <td>{{ instance.prefix }}</td>
            <td>{{ instance.index }}</td>            
            <td>{{ instance.localpref }}</td>
            <td>{{ instance.next_hop }}</td>
            <td>{{ instance.origin_code }}</td>
            <td>{{ instance.status_code }}</td>
            <td>{{ instance.weight }}</td>
            <td>{{ instance.timestamp }}</td>
          </tr>{% endfor %}
          </tbody>  
        </table>        
{% else %}
<h2>Merlin has not detected any BGP Table configuration additons</h2>
{% endif %}
{% if bgp_table_removals %}
<h2>Merlin has detected the following BGP Table configurations have been removed</h2>
<table id = "bgp_table_removals" class="table table-bordered">
    <thead class = "alert-success">
        <tr>
            <th>pyATS Alias</th>
            <th>Instance</th>
            <th>VRF</th>
            <th>Table Version</th>
            <th>Prefix</th>
            <th>Index</th>
            <th>Local Preference</th>
            <th>Next Hop</th>
            <th>Origin Code</th>
            <th>Status Code</th>
            <th>Weight</th>
            <th>Timestamp</th>
          </tr>
          </thead>
          <tbody>{% for instance in bgp_table_removals %}
        <tr>
            <td>{{ instance.pyats_alias }}</td>
            <td>{{ instance.instance }}</td>
            <td>{{ instance.vrf }}</td>
            <td>{{ instance.table_version }}</td>
            <td>{{ instance.prefix }}</td>
            <td>{{ instance.index }}</td>            
            <td>{{ instance.localpref }}</td>
            <td>{{ instance.next_hop }}</td>
            <td>{{ instance.origin_code }}</td>
            <td>{{ instance.status_code }}</td>
            <td>{{ instance.weight }}</td>
            <td>{{ instance.timestamp }}</td>
          </tr>{% endfor %}
          </tbody>  
        </table>         
{% else %}
<h2>Merlin has not detected any BGP Table configuration removals</h2>
{% endif %}
<script type = "text/javascript">
    $(document).ready(function(){
        $('#bgp_table_additions').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#bgp_table_removals').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
{% endblock %} 