{% extends "base.html" %}

{% block title %}Merlin Network State Centre{% endblock %}
{% block content %}
<h1>Merlin Network State Centre</h1>
{% if arp_additions %}
<h2>Merlin has detected the following ARP configurations have been added</h2>
<table id = "learn_arp" class="table table-bordered">
    <thead class = "alert-success">
    <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>Neighbor IP Address</th>
    <th>Neighbor MAC Address</th>
    <th>Origin</th>
    <th>ARP Dynamic Learning Local Proxy Enabled</th>
    <th>ARP Dynamic Learning Proxy Enable</th>
    <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>{% for interface in arp_additions %}
    <tr>
      <td>{{ interface.pyats_alias }}</td>
      <td>{{ interface.interface }}</td>
      <td>{{ interface.neighbor }}</td>
      <td>{{ interface.link_layer_address }}</td>
      <td>{{ interface.origin }}</td>
      <td>{{ interface.local_proxy_enable }}</td>
      <td>{{ interface.proxy_enable }}</td>
      <td>{{ interface.timestamp }}</td>
    </tr>{% endfor %}  
    </tbody>
  </table>
{% else %}
<h2>Merlin has not detected any ARP configuration additons</h2>
{% endif %}
{% if arp_removals %}
<h2>Merlin has detected the following ARP configurations have been removed</h2>
<table id = "learn_arp" class="table table-bordered">
    <thead class = "alert-success">
    <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>Neighbor IP Address</th>
    <th>Neighbor MAC Address</th>
    <th>Origin</th>
    <th>ARP Dynamic Learning Local Proxy Enabled</th>
    <th>ARP Dynamic Learning Proxy Enable</th>
    <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>{% for interface in arp_removals %}
    <tr>
      <td>{{ interface.pyats_alias }}</td>
      <td>{{ interface.interface }}</td>
      <td>{{ interface.neighbor }}</td>
      <td>{{ interface.link_layer_address }}</td>
      <td>{{ interface.origin }}</td>
      <td>{{ interface.local_proxy_enable }}</td>
      <td>{{ interface.proxy_enable }}</td>
      <td>{{ interface.timestamp }}</td>
    </tr>{% endfor %}  
    </tbody>
  </table>
{% else %}
<h2>Merlin has not detected any ARP configuration removals</h2>
{% endif %}
<script type = "text/javascript">
    $(document).ready(function(){
        $('#arp_additions').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#arp_removals').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
{% endblock %} 