{% extends "base.html" %}

{% block title %}Merlin Network State Centre{% endblock %}
{% block content %}
<h1>Merlin Network State Centre</h1>
{% if acl_additions %}
<h2>Merlin has detected the following ACL configurations have been added</h2>
<table id = "acl_additions" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
  <th>pyATS Alias</th>
  <th>Access Control List</th>
  <th>Access Control Entry</th>
  <th>Permission</th>
  <th>Logging</th>
  <th>Source Network</th>
  <th>Destination Network</th>
  <th>Layer 3 Protocol</th>
  <th>Layer 4 Protocol</th>
  <th>Operator</th>
  <th>Port</th>
  <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for acl in object_list.0 %}
  <tr>
    <td>{{ acl.pyats_alias }}</td>
    <td>{{ acl.acl }}</td>
    <td>{{ acl.ace }}</td>
    <td>{{ acl.permission }}</td>
    <td>{{ acl.logging }}</td>
    <td>{{ acl.source_network }}</td>
    <td>{{ acl.destination_network }}</td>
    <td>{{ acl.l3_protocol }}</td>
    <td>{{ acl.l4_protocol }}</td>
    <td>{{ acl.operator }}</td>
    <td>{{ acl.port }}</td>
    <td>{{ acl.timestamp }}</td>
  </tr>{% endfor %}  
  </tbody>
</table>
{% else %}
<h2>Merlin has not detected any ACL configuration additons</h2>
{% endif %}
{% if acl_removals %}
<h2>Merlin has detected the following ACL configurations have been removed</h2>
<table id = "acl_removals" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
  <th>pyATS Alias</th>
  <th>Access Control List</th>
  <th>Access Control Entry</th>
  <th>Permission</th>
  <th>Logging</th>
  <th>Source Network</th>
  <th>Destination Network</th>
  <th>Layer 3 Protocol</th>
  <th>Layer 4 Protocol</th>
  <th>Operator</th>
  <th>Port</th>
  <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for acl in object_list.0 %}
  <tr>
    <td>{{ acl.pyats_alias }}</td>
    <td>{{ acl.acl }}</td>
    <td>{{ acl.ace }}</td>
    <td>{{ acl.permission }}</td>
    <td>{{ acl.logging }}</td>
    <td>{{ acl.source_network }}</td>
    <td>{{ acl.destination_network }}</td>
    <td>{{ acl.l3_protocol }}</td>
    <td>{{ acl.l4_protocol }}</td>
    <td>{{ acl.operator }}</td>
    <td>{{ acl.port }}</td>
    <td>{{ acl.timestamp }}</td>
  </tr>{% endfor %}  
  </tbody>
</table>
{% else %}
<h2>Merlin has not detected any ACL configuration removals</h2>
{% endif %}
<script type = "text/javascript">
    $(document).ready(function(){
        $('#acl_additions').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#acl_removals').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
{% endblock %} 