{% extends "base.html" %}

{% block title %}Merlin Network State Centre{% endblock %}
{% block content %}
<h1>Merlin Network State Centre</h1>
{% if recommended_additions %}
<h2>Merlin has detected the following PSIRT have been added</h2>
<table id = "psirt_additions" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Advisory ID</th>
    <th>Advisory Title</th>
    <th>Bug IDs</th>
    <th>IPS Signatures</th>
    <th>Common Vulnerabilities and Exposures</th>
    <th>Common Vulnerability Reporting Framework Url</th>
    <th>Common Vulnerability Scoring System Base Score</th>
    <th>Common Weakness Enumeration</th>
    <th>Platform Name</th>
    <th>IOS Release</th>
    <th>First Fixed</th>
    <th>First Published</th>
    <th>Last Updated</th>
    <th>Status</th>
    <th>Version</th>
    <th>Publication URL</th>
    <th>Security Impact Rating</th>
    <th>Summary</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for vulnerability in recommended_additions %}
<tr>
    <td>{{ vulnerability.pyats_alias }}</td>
    <td>{{ vulnerability.advisory_id }}</td>
    <td>{{ vulnerability.advisory_title }}</td>
    <td>{{ vulnerability.bug_ids }}</td>
    <td>{{ vulnerability.ips_signatures }}</td>
    <td>{{ vulnerability.cves }}</td>
    <td><a href="{{ vulnerability.cvrf_url }}">{{ vulnerability.cvrf_url }}</a></td>
    <td>{{ vulnerability.cvss_base_score }}</td>
    <td>{{ vulnerability.cwe }}</td>
    <td>{{ vulnerability.platform_name }}</td>
    <td>{{ vulnerability.ios_release }}</td>
    <td>{{ vulnerability.first_fixed }}</td>
    <td>{{ vulnerability.first_published }}</td>
    <td>{{ vulnerability.last_updated }}</td>
    <td>{{ vulnerability.status }}</td>
    <td>{{ vulnerability.version }}</td>
    <td><a href="{{ vulnerability.publication_url }}">{{ vulnerability.publication_url }}</a></td>
    <td>{{ vulnerability.sir }}</td>
    <td>{{ vulnerability.summary }}</td>
    <td>{{ vulnerability.timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>    
{% else %}
<h2>Merlin has not detected any PSIRT additons</h2>
{% endif %}
{% if recommended_removals %}
<h2>Merlin has detected the following PSIRT have been removed</h2>
<table id = "psirt_removals" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Advisory ID</th>
    <th>Advisory Title</th>
    <th>Bug IDs</th>
    <th>IPS Signatures</th>
    <th>Common Vulnerabilities and Exposures</th>
    <th>Common Vulnerability Reporting Framework Url</th>
    <th>Common Vulnerability Scoring System Base Score</th>
    <th>Common Weakness Enumeration</th>
    <th>Platform Name</th>
    <th>IOS Release</th>
    <th>First Fixed</th>
    <th>First Published</th>
    <th>Last Updated</th>
    <th>Status</th>
    <th>Version</th>
    <th>Publication URL</th>
    <th>Security Impact Rating</th>
    <th>Summary</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for vulnerability in psirt_removals %}
<tr>
    <td>{{ vulnerability.pyats_alias }}</td>
    <td>{{ vulnerability.advisory_id }}</td>
    <td>{{ vulnerability.advisory_title }}</td>
    <td>{{ vulnerability.bug_ids }}</td>
    <td>{{ vulnerability.ips_signatures }}</td>
    <td>{{ vulnerability.cves }}</td>
    <td><a href="{{ vulnerability.cvrf_url }}">{{ vulnerability.cvrf_url }}</a></td>
    <td>{{ vulnerability.cvss_base_score }}</td>
    <td>{{ vulnerability.cwe }}</td>
    <td>{{ vulnerability.platform_name }}</td>
    <td>{{ vulnerability.ios_release }}</td>
    <td>{{ vulnerability.first_fixed }}</td>
    <td>{{ vulnerability.first_published }}</td>
    <td>{{ vulnerability.last_updated }}</td>
    <td>{{ vulnerability.status }}</td>
    <td>{{ vulnerability.version }}</td>
    <td><a href="{{ vulnerability.publication_url }}">{{ vulnerability.publication_url }}</a></td>
    <td>{{ vulnerability.sir }}</td>
    <td>{{ vulnerability.summary }}</td>
    <td>{{ vulnerability.timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>    
{% else %}
<h2>Merlin has not detected any PSIRT removals</h2>
{% endif %}
<script type = "text/javascript">
    $(document).ready(function(){
        $('#psirt_additions').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#psirt_removals').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
{% endblock %} 