{% extends "base.html" %}

{% block title %}Merlin Network State Centre{% endblock %}
{% block content %}
<h1>Merlin Network State Centre</h1>
{% if interface_additions %}
<h2>Merlin has detected the following IP Interface Brief configurations have been added</h2>
<table id = "interface_additions" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>IP Address</th>
    <th>Status</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for interface in interface_additions %}
  <tr>
    <td>{{ interface.pyats_alias }}</td>
    <td>{{ interface.interface }}</td>
    <td>{{ interface.ip_address }}</td>
    <td>{{ interface.interface_status }}</td>
    <td>{{ interface_latest_timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
{% else %}
<h2>Merlin has not detected any IP Interface Brief configuration additions</h2>
{% endif %}
{% if interface_removals %}
<h2>Merlin has detected the following IP Interface Brief configurations have been removed</h2>
<table id = "interface_removals" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>IP Address</th>
    <th>Status</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for interface in interface_removals %}
  <tr>
    <td>{{ interface.pyats_alias }}</td>
    <td>{{ interface.interface }}</td>
    <td>{{ interface.ip_address }}</td>
    <td>{{ interface.interface_status }}</td>
    <td>{{ interface_new_timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
{% else %}
<h2>Merlin has not detected any IP Interface Brief configuration removals</h2>
{% endif %}
<script type = "text/javascript">
    $(document).ready(function(){
        $('#interface_additions').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true
    });
    });
</script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#interface_removals').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true
    };
    });
</script>
{% endblock %} 