{% extends "base.html" %}

{% block title %}Merlin Network State Centre{% endblock %}
{% block content %}
<h1>Merlin Network State Centre</h1>
{% if interface_additions %}
<h2>Merlin has detected the following IP Interface Brief configurations have been added</h2>
<table class="merlin-table">
  <thead>
  <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>IP Address</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>{% for interface in interface_additions %}
  <tr>
    <td>{{ interface.pyats_alias }}</td>
    <td>{{ interface.interface }}</td>
    <td>{{ interface.ip_address }}</td>
    <td>{{ interface.interface_status }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
{% else %}
<h2>Merlin has not detected any IP Interface Brief configuration additions</h2>
{% endif %}
{% if interface_removals %}
<h2>Merlin has detected the following IP Interface Brief configurations have been removed</h2>
<table class="merlin-table">
  <thead>
  <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>IP Address</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>{% for interface in interface_removals %}
  <tr>
    <td>{{ interface.pyats_alias }}</td>
    <td>{{ interface.interface }}</td>
    <td>{{ interface.ip_address }}</td>
    <td>{{ interface.interface_status }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
{% else %}
<h2>Merlin has not detected any IP Interface Brief configuration removals</h2>
{% endif %}
{% endblock %} 