<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Django - Channels - Celery - Blender</title>

  <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
</head>
<body>
<div>
    <form id="render_form">
        <button id="render_button" type="submit" id="go">Render</button>
        <label>Subsurf level</label>
        <input id="subsurf" type="number" value="0">
    </form>
    Task: <span id="render_task">---</span>
    Status: <span id="render_status">---</span>
</div>
<div>
    <img id="render_result" style="width:600px; height:600px; margin:auto; display:block" />
</div>

<script>
$(function() {
    var ws_scheme = window.location.protocol == "http:" ? "wss" : "ws";
    var ws_path = ws_scheme + '://' + window.location.host + '/viewer/';

    var socket = new WebSocket(ws_path);

    socket.onmessage = function(message) {
        var data = JSON.parse(message.data);
        if (data.action == "started") {
            $('#render_task').text(data.task_id);
            $('#render_status').text('Waiting for render node(worker)');
        }
        else if (data.action == "sync_render"){
            $('#render_result').attr('src', 'data:image/png;base64,'+data.image);
            $('#render_status').text('Rendering');
        }
        else if(data.action == "render_finished"){
            $('#render_button').attr('disabled', false);
            $('#render_status').text('Finished');
        }
    };

    $("#render_form").on("submit", function(event) {
        $('#render_button').attr('disabled', true);
        var message = {
            action: "start_render",
            subsurf: $('#subsurf').val()
        };
        socket.send(JSON.stringify(message));
        return false;
    });
});
</script>
</body>
</html>