{% extends "base.html" %}

{% block title %}Learn Config for {{ year }} {{ month}}{% endblock %}

{% block content %}

<h1>Learn Config for {{ year }} {{ month}}</h1>
<table id = "learn_config" class="table table-bordered">
  <thead class = "alert-success">
    <tr>
        <th>pyATS Alias</th>
        <th>Configuration Key</th>
        <th>Configuration Value</th>
        <th>Timestamp</th>
      </tr>
      </thead>
      <tbody>{% for alias in alias_list %}{% for alias_key in alias %}{% for timestamp in timestamp_list %}{% for timestamp_key in timestamp %}{% for hit in inner_json %}{% for key,value in hit.items %}
        <tr>
            <td>{{ alias_key }}</td>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
            <td>{{ timestamp_key }}</td>            
        </tr>{% endfor %}{% endfor %}{% endfor %}{% endfor %}{% endfor %}{% endfor %}
      </tbody>  
</table>    
<script type = "text/javascript">
  $(document).ready(function(){
    $('#learn_config thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#learn_config thead');

    var table = $('#learn_config').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
        'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true,            
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
        var api = this.api();

        // For each column
        api
            .columns()
            .eq(0)
            .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                        e.stopPropagation();

                        // Get the search value
                        $(this).attr('title', $(this).val());
                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                        var cursorPosition = this.selectionStart;
                        // Search the column for that value
                        api
                            .column(colIdx)
                            .search(
                                this.value != ''
                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                    : '',
                                this.value != '',
                                this.value == ''
                            )
                            .draw();

                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition);
                    });
            });
    },
});
});        
</script>
{% endblock %}