{% extends "base.html" %}

{% block title %}Latest{% endblock %}

{% block content %}
<h1>Merlin's Latest Records</h1>
<h2>Latest Learn VLAN</h2>
<table class="merlin-table">
  <thead>
  <tr>
  <th>pyATS Alias</th>
  <th>VLAN</th>
  <th>Name</th>
  <th>State</th>
  <th>Shutdown</th>
  <th>Interfaces</th>
  <th>Mode</th>
  <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for vlan in vlan_list %}
  <tr>
    <td>{{ vlan.pyats_alias }}</td>
    <td>{{ vlan.vlan }}</td>
    <td>{{ vlan.name }}</td>
    <td>{{ vlan.state }}</td>
    <td>{{ vlan.shutdown }}</td>
    <td>{{ vlan.interfaces }}</td>
    <td>{{ vlan.mode }}</td>
    <td>{{ vlan.timestamp }}</td>
  </tr>{% endfor %}  
  </tbody>
</table>
<h2>Latest Learn VRF</h2>
{% for vrf in vrf_list %}
    <p>Device Name: {{ vrf.hostname }}</p>
    <p>Captured {{ vrf.timestamp }}</p>
    <table class="merlin-table">
      <thead>
        <tr>
          <th>pyATS Alias</th>          
          <th>VRF</th>
          <th>Address Family IPv4</th>
          <th>Address Family IPv6</th>
          <th>Route Distinguisher</th>
          <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ vrf.pyats_alias }}</td>
          <td>{{ vrf.vrf }}</td>
          <td>{{ vrf.address_family_ipv4 }}</td>
          <td>{{ vrf.address_family_ipv6 }}</td>
          <td>{{ vrf.route_distinguisher }}</td>
          <td>{{ vrf.timestamp }}</td>
        </tr>
        </tbody></table>
{% endfor %}
<h2>Latest Show Inventory Results</h2>
<table class="merlin-table">
  <thead>
  <tr>
    <th>pyATS Alias</th>
    <th>Slot</th>
    <th>Description</th>
    <th>PID</th>
    <th>Serial Number</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for part in inventory_list %}
<tr>
    <td>{{ part.pyats_alias }}</td>
    <td>{{ part.part }}</td>
    <td>{{ part.description }}</td>
    <td>{{ part.pid }}</td>
    <td>{{ part.serial_number }}</td>
    <td>{{ part.timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
<h2>Latest Show IP Interface Brief Results</h2>
<table class="merlin-table">
  <thead>
  <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>IP Address</th>
    <th>Status</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for interface in ip_int_brief_list %}
  <tr>
    <td>{{ interface.pyats_alias }}</td>
    <td>{{ interface.interface }}</td>
    <td>{{ interface.ip_address }}</td>
    <td>{{ interface.interface_status }}</td>
    <td>{{ interface.timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
<h2>Latest Show Version Results</h2>
{% for version in version_list %}
{%   if version.os == "nxos" %}
    <p>Device Name: {{ version.device_name }}</p>
    <p>Captured {{ version.timestamp }}</p>
    <table class="merlin-table">
        <thead>
        <tr>
          <th>pyATS Alias</th>
          <th>Hostname</th>
          <th>Bootflash</th>
          <th>Chassis</th>
          <th>CPU</th>
          <th>Memory</th>
          <th>Model</th>
          <th>Processor Board ID</th>
          <th>RP</th>
          <th>Slots</th>
          <th>Kernel Uptime</th>
          <th>Name</th>
          <th>OS</th>
          <th>Last Reload Reason</th>
          <th>System Compile Time</th>
          <th>System Image File</th>
          <th>System Version</th>
          <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ version.pyats_alias }}</td>
          <td>{{ version.device_name }}</td>          
          <td>{{ version.bootflash }}</td>
          <td>{{ version.chassis }}</td>
          <td>{{ version.cpu }}</td>
          <td>{{ version.memory }}</td>
          <td>{{ version.model }}</td>
          <td>{{ version.processor_board_id }}</td>
          <td>{{ version.rp }}</td>
          <td>{{ version.slots }}</td>
          <td>{{ version.days }} {{ version.hours }} {{ version.minutes }} {{ version.seconds }}</td>
          <td>{{ version.name }}</td>
          <td>{{ version.os }}</td>
          <td>{{ version.reason }}</td>
          <td>{{ version.system_compile_time }}</td>
          <td>{{ version.system_image_file }}</td>
          <td>{{ version.system_version }}</td>
          <td>{{ version.timestamp }}</td>
        </tr>
        </tbody>  
      </table>
{%   else %}
    <p>Device Name: {{ version.device_name }}</p>
    <p>Captured {{ version.timestamp }}</p>
    <table class="merlin-table">
      <thead>
        <tr>
          <th>pyATS Alias</th>
          <th>Hostname</th>          
          <th>Bootflash</th>
          <th>Chassis</th>
          <th>Chassis Serial Number</th>
          <th>Platform</th>
          <th>Processor Type</th>
          <th>Memory</th>
          <th>Model</th>
          <th>Kernel Uptime</th>
          <th>OS</th>
          <th>Last Reload Reason</th>
          <th>Uptime</th>
          <th>Uptime This CP</th>
          <th>System Compile Time</th>
          <th>System Image File</th>
          <th>System Version</th>
          <th>Compiled By</th>
          <th>Current Config Register</th>
          <th>Image ID</th>
          <th>Image Type</th>
          <th>Label</th>
          <th>License Level</th>
          <th>License Type</th>
          <th>Next Reload License Level</th>
          <th>Non Volatile Memory</th>
          <th>Physical Memory</th>
          <th>Returned to ROM By</th>
          <th>ROM</th>
          <th>Router Type</th>
          <th>Version Short</th>
          <th>XE Version</th>
          <th>Timestamp</th>  
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ version.pyats_alias }}</td>
          <td>{{ version.device_name }}</td>
          <td>{{ version.bootflash }}</td>
          <td>{{ version.chassis }}</td>
          <td>{{ version.chassis_sn }}</td>
          <td>{{ version.platform }}</td>
          <td>{{ version.processor_type }}</td>
          <td>{{ version.memory }}</td>
          <td>{{ version.model }}</td>
          <td>{{ version.uptime }}</td>
          <td>{{ version.os }}</td>
          <td>{{ version.reason }}</td>
          <td>{{ version.uptime }}</td>
          <td>{{ version.uptime_this_cp }}</td>
          <td>{{ version.system_compile_time }}</td>
          <td>{{ version.system_image_file }}</td>
          <td>{{ version.system_version }}</td>
          <td>{{ version.compiled_by }}</td>
          <td>{{ version.curr_config_register }}</td>
          <td>{{ version.image_id }}</td>
          <td>{{ version.image_type }}</td>
          <td>{{ version.label }}</td>
          <td>{{ version.license_level }}</td>
          <td>{{ version.license_type }}</td>
          <td>{{ version.next_reload_license_level }}</td>
          <td>{{ version.non_volatile }}</td>
          <td>{{ version.physical }}</td>
          <td>{{ version.returned_to_rom_by }}</td>
          <td>{{ version.rom }}</td>
          <td>{{ version.rtr_type }}</td>
          <td>{{ version.version_short }}</td>
          <td>{{ version.xe_version }}</td>
          <td>{{ version.timestamp }}</td>
        </tr>
      </tbody>
    </table>{% endif %}
{% endfor %}
{% endblock %}