{% extends "base.html" %}

{% block title %}Learn VLAN for {{ year }}{% endblock %}

{% block content %}
<h1>Learn VLAN for {{ year }}</h1>
<table id = "table" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
  <th>pyATS Alias</th>
  <th>VLAN</th>
  <th>Name</th>
  <th>State</th>
  <th>Shutdown</th>
  <th>Interfaces</th>
  <th>Mode</th>
  <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for vlan in vlan_list %}
  <tr>
    <td>{{ vlan.pyats_alias }}</td>
    <td>{{ vlan.vlan }}</td>
    <td>{{ vlan.name }}</td>
    <td>{{ vlan.state }}</td>
    <td>{{ vlan.shutdown }}</td>
    <td>{{ vlan.interfaces }}</td>
    <td>{{ vlan.mode }}</td>
    <td>{{ vlan.timestamp }}</td>
  </tr>{% endfor %}  
  </tbody>
</table>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#table').DataTable({
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true
    });
    });
</script>
{% endblock %}

        buttons: [
            ''
        ]
    }