{% extends "base.html" %}

{% block title %}Notifications from {{ pyats_alias }}{% endblock %}

{% block content %}
<h1>Disabled Interface Notifications from {{ pyats_alias }}</h1>
<form action="{% url 'device_notifications' pyats_alias %}" method="post">
{% csrf_token %}
{% load gTTS %}
{% load static %}
<table id = "disabled_interfaces" class="table table-bordered">
    <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Contact Engineer</th>
    <th>Twilio Voice Call Merlin Numbers</th>
    <th>Twilio Voice On-Demand</th>
    <th>Latest Twilio Voice Message</th>
    <th>Send Twilio SMS Merlin Numbers</th>
    <th>Send Twilio SMS On-Demand</th>
  </tr>
  </thead>
  <tbody>
<tr>
    <td style='text-align:center; vertical-align:middle'>{{ pyats_alias }}</td>
    <td style='text-align:center; vertical-align:middle'>If Any Interfaces Are Disabled</td>
    <td style='text-align:center; vertical-align:middle'><button id="disable_interface_voice" value="Phone" name="disable_interface_voice">Phone</button></td>
    <td>
        <form id="disable_interface_voice_input" action="{% url 'device_notifications' pyats_alias %}" method="post">
            {% csrf_token %}
            <label for="disable_interface_voice_input">Phone Number to Call:</label><br>
            <input id="disable_interface_voice_input" name="disable_interface_voice_input" type="text" placeholder="(Country Code Area Code Phone Number)">
            <input type="submit" value="Phone">
        </form>
    </td>    
    <td style='text-align:center; vertical-align:middle'>
        <audio
            src="{% static 'notification/disabled_interfaces.mp3' %}"
            controls
        ></audio>    
    </td>
    <td style='text-align:center; vertical-align:middle'><button id="disable_interface_sms" value="SMS" name="disable_interface_sms">Text</button></td>
    <td>
        <form id="disable_interface_sms_input" action="{% url 'device_notifications' pyats_alias %}" method="post">
            {% csrf_token %}        
            <label for="disable_interface_sms_input">Number to Text:</label><br>
            <input id="disable_interface_sms_input" name="disable_interface_sms_input" type="text" placeholder="(Country Code Area Code Phone Number)">
            <input type="submit" value="Text">
        </form>
    </td>    
</tr>
  </tbody>  
</table>
<script type = "text/javascript">
  $(document).ready(function(){
    $('#disabled_interfaces thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#disabled_interfaces thead');

    var table = $('#disabled_interfaces').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
        'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true,            
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
        var api = this.api();

        // For each column
        api
            .columns()
            .eq(0)
            .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                        e.stopPropagation();

                        // Get the search value
                        $(this).attr('title', $(this).val());
                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                        var cursorPosition = this.selectionStart;
                        // Search the column for that value
                        api
                            .column(colIdx)
                            .search(
                                this.value != ''
                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                    : '',
                                this.value != '',
                                this.value == ''
                            )
                            .draw();

                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition);
                    });
            });
    },
});
});        
</script>
{% endblock %}