{% extends "base.html" %}

{% block title %}Learn Platform Slots for {{ year }} {{ month }}{% endblock %}

{% block content %}
<h1>Learn Platform Slots for {{ year }} {{ month }}</h1>
<table id = "table" class="table table-bordered">
    <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Operating System</th>
    <th>Slot</th>
    <th>Slot Name</th>
    <th>Slot Serial Number</th>
    <th>Slot State</th>
    <th>Slot Redundancy State</th>
    <th>RP Boot Image</th>
    <th>Slot RP Uptime</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for platform in platform_slots_list %}
<tr>
    <td>{{ platform.pyats_alias }}</td>
    <td>{{ platform.os }}</td>
    <td>{{ platform.slot }}</td>
    <td>{{ platform.slot_name }}</td>
    <td>{{ platform.slot_sn }}</td>
    <td>{{ platform.slot_state }}</td>
    <td>{{ platform.slot_redundancy_state }}</td>
    <td>{{ platform.rp_boot_image }}</td>
    <td>{{ platform.slot_rp_uptime }}</td>
    <td>{{ platform.timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
  <script type = "text/javascript">
    $(document).ready(function(){
      $('#table thead tr')
      .clone(true)
      .addClass('filters')
      .appendTo('#learn_acl thead');
  
      var table = $('#table').DataTable({
          keys: true,
          dom: 'Bfrtip',
          lengthMenu: [
              [ 10, 25, 50, -1 ],
              [ '10 rows', '25 rows', '50 rows', 'Show all' ]
          ],
          buttons: [
          'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
          ],
          colReorder: true,
          select: true,            
          orderCellsTop: true,
          fixedHeader: true,
          initComplete: function () {
          var api = this.api();
  
          // For each column
          api
              .columns()
              .eq(0)
              .each(function (colIdx) {
                  // Set the header cell to contain the input element
                  var cell = $('.filters th').eq(
                      $(api.column(colIdx).header()).index()
                  );
                  var title = $(cell).text();
                  $(cell).html('<input type="text" placeholder="' + title + '" />');
  
                  // On every keypress in this input
                  $(
                      'input',
                      $('.filters th').eq($(api.column(colIdx).header()).index())
                  )
                      .off('keyup change')
                      .on('keyup change', function (e) {
                          e.stopPropagation();
  
                          // Get the search value
                          $(this).attr('title', $(this).val());
                          var regexr = '({search})'; //$(this).parents('th').find('select').val();
  
                          var cursorPosition = this.selectionStart;
                          // Search the column for that value
                          api
                              .column(colIdx)
                              .search(
                                  this.value != ''
                                      ? regexr.replace('{search}', '(((' + this.value + ')))')
                                      : '',
                                  this.value != '',
                                  this.value == ''
                              )
                              .draw();
  
                          $(this)
                              .focus()[0]
                              .setSelectionRange(cursorPosition, cursorPosition);
                      });
              });
      },
  });
  });        
  </script>
  {% endblock %}