{% extends "base.html" %}

{% block title %}Latest Show Inventory Results{% endblock %}

{% block content %}
<h1>Latest Show Inventory Results</h1>
<table id = "show_inventory" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Slot</th>
    <th>Description</th>
    <th>PID</th>
    <th>Serial Number</th>
    <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for part in inventory_list %}
<tr>
    <td>{{ part.pyats_alias }}</td>
    <td>{{ part.part }}</td>
    <td>{{ part.description }}</td>
    <td>{{ part.pid }}</td>
    <td>{{ part.serial_number }}</td>
    <td>{{ part.timestamp }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#show_inventory').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true
    });
    });
</script>
{% endblock %}