{% extends "base.html" %}

{% block title %}Merlin On-Demand Centre{% endblock %}

{% block content %}
<h1>Merlin On-Demand Centre</h1>
<h2>Refresh All</h2>
<table class="merlin-table">
    <thead>
    <tr>
      <th>Command</th>
      <th>Click Here</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>All</td>
      <td><button id="get_all_button">Get All</button></td>
      <td>
        <div id ="get_all_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>      
    </tr>
    </tbody>  
  </table>
  <h2>Refresh Individual Commands</h2>
  <table class="merlin-table">
    <thead>
    <tr>
      <th>Command</th>
      <th>Click Here</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Learn VLAN</td>
        <td><button id="learn_vlan_button">Get Learn VLAN</button></td>
        <td>
          <div id ="learn_vlan_spinner" class="d-flex not-visible">
            <div class="spinner-border text-warning" role="status">
              <span class="visually-hidden"></span>
            </div>
          </div>
        </td>      
      </tr>      
      <tr>
        <td>Learn VRF</td>
        <td><button id="learn_vrf_button">Get Learn VRF</button></td>
        <td>
          <div id ="learn_vrf_spinner" class="d-flex not-visible">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden"></span>
            </div>
          </div>
        </td>                
      </tr>      
    <tr>
      <td>Show Version</td>
      <td><button id="show_version_button">Get Show Version</button></td>
      <td>
        <div id ="show_version_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>        
    </tr>
    </tbody>  
  </table>
{% endblock %}  