{% extends "base.html" %}

{% block title %}Merlin On-Demand Centre{% endblock %}

{% block content %}
<h1>Merlin On-Demand Centre</h1>
<table id="on_demand" class="table table-bordered">
  <thead class="alert-success">
    <tr>
      <th>Command</th>
      <th>All Results</th>
      <th>Filter Results</th>
      <th>Available Filters</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>All</td>
      <td><button id="get_all_all_devices_button">All Commands</button></td>
      <td>
        <div id="get_all_filter">
          <form id="get_all_filter" action="{% url 'get_all_ondemand_filter' %}" method="get">
            <input name="get_all_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="get_all_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>End of Life - Part ID</td>
      <td><button id="eox_pid_all_devices_button">End of Life - Part ID</button></td>
      <td>
        <div id="eox_pid_filter">
          <form id="eox_pid_filter" action="{% url 'eox_pid_ondemand_filter' %}" method="get">
            <input name="eox_pid_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="eox_pid_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
    <tr>
    <tr>
      <td>End of Life - Serial Number</td>
      <td><button id="eox_sn_all_devices_button">End of Life - Serial Number</button></td>
      <td>
        <div id="eox_sn_filter">
          <form id="eox_sn_filter" action="{% url 'eox_sn_ondemand_filter' %}" method="get">
            <input name="eox_sn_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="eox_sn_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-primary"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>End of Life - Software</td>
      <td><button id="eox_sw_all_devices_button">End of Life - Software</button></td>
      <td>
        <div id="eox_sw_filter">
          <form id="eox_sw_filter" action="{% url 'eox_sw_ondemand_filter' %}" method="get">
            <input name="eox_sw_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="eox_sw_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-primary"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Learn ACL</td>
      <td><button id="learn_acl_all_devices_button">Learn ACL</button></td>
      <td>
        <div id="learn_acl_filter">
          <form id="learn_acl_filter" action="{% url 'learn_acl_ondemand_filter' %}" method="get">
            <input name="learn_acl_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="learn_acl_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Learn ARP</td>
      <td><button id="learn_arp_all_devices_button">Learn ARP</button></td>
      <td>
        <div id="learn_arp_filter">
          <form id="learn_arp_filter" action="{% url 'learn_arp_ondemand_filter' %}" method="get">
            <input name="learn_arp_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="learn_arp_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Learn BGP</td>
      <td><button id="learn_bgp_all_devices_button">Learn BGP</button></td>
      <td>
        <div id="learn_bgp_filter">
          <form id="learn_bgp_filter" action="{% url 'learn_bgp_ondemand_filter' %}" method="get">
            <input name="learn_bgp_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="learn_bgp_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Learn Config</td>
      <td><button id="learn_config_all_devices_button">Learn Config</button></td>
      <td>
        <div id="learn_config_filter">
          <form id="learn_config_filter" action="{% url 'learn_config_ondemand_filter' %}" method="get">
            <input name="learn_config_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="learn_config_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Learn Interface</td>
      <td><button id="learn_interface_all_devices_button">Learn Interface</button></td>
      <td>
        <div id="learn_interface_filter">
          <form id="learn_interface_filter" action="{% url 'learn_interface_ondemand_filter' %}" method="get">
            <input name="learn_interface_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="learn_interface_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Learn Platform</td>
      <td><button id="learn_platform_all_devices_button">Learn Platform</button></td>
      <td>
        <div id="learn_platform_filter">
          <form id="learn_platform_filter" action="{% url 'learn_platform_ondemand_filter' %}" method="get">
            <input name="learn_platform_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="learn_platform_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Learn VLAN</td>
      <td><button id="learn_vlan_all_devices_button">Learn VLAN</button></td>
      <td>
        <div id="learn_vlan_filter">
          <form id="learn_vlan_filter" action="{% url 'learn_vlan_ondemand_filter' %}" method="get">
            <input name="learn_vlan_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="learn_vlan_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Learn VRF</td>
      <td><button id="learn_vrf_all_devices_button">Learn VRF</button></td>
      <td>
        <div id="learn_vrf_filter">
          <form id="learn_vrf_filter" action="{% url 'learn_vrf_ondemand_filter' %}" method="get">
            <input name="learn_vrf_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="learn_vrf_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Network Map</td>
      <td><button id="nmap_all_devices_button">NMAP</button></td>
      <td>
        <div id="nmap_filter">
          <form id="nmap_filter" action="{% url 'nmap_ondemand_filter' %}" method="get">
            <input name="nmap_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="nmap_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Product Security Incident Response Team</td>
      <td><button id="psirt_all_devices_button">PSIRT</button></td>
      <td>
        <div id="psirt_filter">
          <form id="psirt_filter" action="{% url 'psirt_ondemand_filter' %}" method="get">
            <input name="psirt_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="psirt_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Recommended Release</td>
      <td><button id="recommended_all_devices_button">Recommended Release</button></td>
      <td>
        <div id="recommended_filter">
          <form id="recommended_filter" action="{% url 'recommended_ondemand_filter' %}" method="get">
            <input name="recommended_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="recommended_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Serial 2 Contract</td>
      <td><button id="serial2contract_all_devices_button">Serial 2 Contract</button></td>
      <td>
        <div id="serial2contract_filter">
          <form id="serial2contract_filter" action="{% url 'serial2contract_ondemand_filter' %}" method="get">
            <input name="serial2contract_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="serial2contract_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Show Inventory</td>
      <td><button id="show_inventory_all_devices_button">Show Inventory</button></td>
      <td>
        <div id="show_inventory_filter">
          <form id="show_inventory_filter" action="{% url 'show_inventory_ondemand_filter' %}" method="get">
            <input name="show_inventory_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="show_inventory_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Show License Summary</td>
      <td><button id="show_license_summary_all_devices_button">Show License Summary</button></td>
      <td>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="show_ip_int_brief_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Show IP Interface Brief</td>
      <td><button id="show_ip_int_brief_all_devices_button">Show IP Interface Brief</button></td>
      <td>
        <div id="show_ip_int_brief_filter">
          <form id="show_ip_int_brief_filter" action="{% url 'show_ip_int_brief_ondemand_filter' %}" method="get">
            <input name="show_ip_int_brief_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="show_ip_int_brief_spinner" class="d-flex not-visible">
          <div class="spinner-border text-warning" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Show Version</td>
      <td><button id="show_version_all_devices_button">Show Version</button></td>
      <td>
        <div id="show_version_filter">
          <form id="show_version_filter" action="{% url 'show_version_ondemand_filter' %}" method="get">
            <input name="show_version_filter" type="text" placeholder="Filter Devices....">
          </form>
        </div>
      </td>
      <td>
        <b>* Hostname * Alias * Device Type * Operating System * Username * IP Address * Platform *</b>
      </td>
      <td>
        <div id="show_version_spinner" class="d-flex not-visible">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<script>
  $(document).ready(function () {
    $('#on_demand').DataTable({
      keys: true,
      colReorder: true,
      select: true,
    });
  });
</script>
{% endblock %}