{% extends "base.html" %}

{% block title %}Show IP Interface Brief Results for {{ pyats_alias }}{% endblock %}

{% block content %}
<h1>Show IP Interface Brief Results for {{ pyats_alias }}</h1>
<table id = "table" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>IP Address</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>{% for interface in interface_list %}
  <tr>
    <td>{{ interface.pyats_alias }}</td>
    <td>{{ interface.interface }}</td>
    <td>{{ interface.ip_address }}</td>
    <td>{{ interface.interface_status }}</td>
  </tr>{% endfor %}
  </tbody>  
</table>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#table').DataTable({
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true
    });
    });
</script>
{% endblock %}