{% extends "base.html" %}

{% block title %}Merlin Mind Maps{% endblock %}

{% block content %}
<h1>Merlin Mind Maps</h1>
<table id = "devices" class="table table-bordered">
    <thead class = "alert-success">
    <tr>
      <th>Alias</th>
      <th>End of Life - Part ID</th>
      <th>End of Life - Serial Number</th>
      <th>End of Life - Software</th>
      <th>Learn ACL</th>
      <th>Learn ARP</th>
      <th>Learn ARP Statistics</th>
      <th>Learn BGP Instances</th>
      <th>Learn BGP Tables</th>
      <th>Learn Interfaces</th>
      <th>Learn Platform</th>
      <th>Show License Summary</th>
    </tr>
    </thead>
    <tbody>{% for device in device_list %}
    <tr>
      <td>{{ device.alias }}</td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/EoX_PID">End of Life - Part ID</a></td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/EoX_PID">End of Life - Serial Number</a></td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/EoX_PID">End of Life - Software</a></td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/LearnACL">Learn ACL</a></td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/LearnARP">Learn ARP</a></td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/LearnARPStatistics">Learn ARP Statistics</a></td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/LearnBGPInstances">Learn BGP Instances</a></td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/LearnBGPTables">Learn BGP Tables</a></td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/LearnInterface">Learn Interface</a></td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/LearnPlatform">Learn Platform</a></td>
      <td><a href="http://localhost:8000/Mindmap/{{ device.alias }}/ShowLicenseSummary">Show License Summary</a></td>
    </tr>{% endfor %}  
    </tbody>
  </table>
<script type = "text/javascript">
  $(document).ready(function(){
    $('#devices thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#devices thead');

    var table = $('#devices').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
        'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true,            
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
        var api = this.api();

        // For each column
        api
            .columns()
            .eq(0)
            .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                        e.stopPropagation();

                        // Get the search value
                        $(this).attr('title', $(this).val());
                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                        var cursorPosition = this.selectionStart;
                        // Search the column for that value
                        api
                            .column(colIdx)
                            .search(
                                this.value != ''
                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                    : '',
                                this.value != '',
                                this.value == ''
                            )
                            .draw();

                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition);
                    });
            });
    },
});
});        
</script>
{% endblock %}