{% extends "base.html" %}

{% block title %}Enable / Disable Interfaces on {{ pyats_alias }}{% endblock %}

{% block content %}
<h1>Enable / Disable Interfaces on {{ pyats_alias }}</h1>
<form action="{% url 'shut_noshut' pyats_alias %}" method="post">
{% csrf_token %}
<table id = "learn_interface" class="table table-bordered">
    <thead class = "alert-success">
  <tr>
    <th>pyATS Alias</th>
    <th>Interface</th>
    <th>Description</th>
    <th>Enabled</th>
    <th>Enable / Disable Interface</th>
    <th>Timestamp</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>{% for interface in interface_list %}
<tr>
    <td>{{ interface.pyats_alias }}</td>
    <td>{{ interface.interface }}</td> 
    <td>{{ interface.description }}</td> 
    <td>{{ interface.enabled }}</td> 
    {% if interface.interface == "Mgmt0" %}
    <td>Management Interface</td>
    {% else %}    
      {% if interface.enabled == "True" %}
    <td>
        <button id="disable_interface" value="{{ interface.interface }}" name="disable" style="background-color: red">Disable</button>
    </td>
      {% else %}
    <td>
        <button id="enable_interface" value="{{ interface.interface }}" name="enable" style="background-color: green">Enable</button>
    </td>
      {% endif %}
    {% endif %}
    <td>{{ interface.timestamp }}</td>
    <td>
      <div id="interface_enable_spinner" class="d-flex not-visible">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
    </td>    
  </tr>{% endfor %}
  </tbody>  
</table>
</form>
<script type = "text/javascript">
  $(document).ready(function(){
    $('#learn_interface thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#learn_interface thead');

    var table = $('#learn_interface').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
        'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true,            
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
        var api = this.api();

        // For each column
        api
            .columns()
            .eq(0)
            .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                        e.stopPropagation();

                        // Get the search value
                        $(this).attr('title', $(this).val());
                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                        var cursorPosition = this.selectionStart;
                        // Search the column for that value
                        api
                            .column(colIdx)
                            .search(
                                this.value != ''
                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                    : '',
                                this.value != '',
                                this.value == ''
                            )
                            .draw();

                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition);
                    });
            });
    },
});
});        
</script>
{% endblock %}