{% extends "base.html" %}

{% block title %}Latest Versions{% endblock %}

{% block content %}
<h1>Latest Versions</h1>
<table id = "latest" class="table table-bordered">
  <thead class = "alert-success">
    <tr>
      <th>All Database Records</th>          
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>All Records</td>
      <td><a href="http://localhost:8000/Latest/All/">Latest Database Records</a></td>
    </tr>
    <tr>
      <td>Learn ACL</td>
      <td><a href="http://localhost:8000/Latest/LearnACL/">Latest Learn ACL</a></td>
    </tr>
    <tr>
      <td>Learn ARP</td>
      <td><a href="http://localhost:8000/Latest/LearnARP/">Latest Learn ARP</a></td>
    </tr>
    <tr>
      <td>Learn ARP Statistics</td>
      <td><a href="http://localhost:8000/Latest/LearnARPStatistics/">Latest Learn ARP Statistics</a></td>
    </tr>              
    <tr>
      <td>Learn BGP Instances</td>
      <td><a href="http://localhost:8000/Latest/LearnBGPInstances/">Latest Learn BGP Instances</a></td>
    </tr>
    <tr>
      <td>Learn BGP Routes</td>
      <td><a href="http://localhost:8000/Latest/LearnBGPRoutes/">Latest Learn BGP Routes</a></td>
    </tr>
    <tr>
      <td>Learn BGP Tables</td>
      <td><a href="http://localhost:8000/Latest/LearnBGPTables/">Latest Learn BGP Tables</a></td>
    </tr>
    <tr>
      <td>Learn Config</td>
      <td><a href="http://localhost:8000/Latest/LearnConfig/">Latest Learn Config</a></td>
    </tr>
    <tr>      
      <td>Learn Interface</td>
      <td><a href="http://localhost:8000/Latest/LearnInterface/">Latest Learn Interface</a></td>
    </tr>
    <tr>
      <td>Learn Platform</td>
      <td><a href="http://localhost:8000/Latest/LearnPlatform/">Latest Learn Platform</a></td>
    </tr>
    <tr>
      <td>Learn Platform Slots</td>
      <td><a href="http://localhost:8000/Latest/LearnPlatformSlots/">Latest Learn Platform Slots</a></td>
    </tr>
    <tr>
      <td>Learn Platform Virtual</td>
      <td><a href="http://localhost:8000/Latest/LearnPlatformVirtual/">Latest Learn Platform Virtual</a></td>
    </tr>            
    <tr>
      <td>Learn VLAN</td>
      <td><a href="http://localhost:8000/Latest/LearnVLAN/">Latest Learn VLAN</a></td>
    </tr>
    <tr>
      <td>Learn VRF</td>
      <td><a href="http://localhost:8000/Latest/LearnVRF/">Latest Learn VRF</a></td>
    </tr>
    <tr>
      <td>Recommended Release</td>
      <td><a href="http://localhost:8000/Latest/Recommended/">Latest Recommended Release</a></td>
    </tr>    
    <tr>
      <td>Show Inventory</td>
      <td><a href="http://localhost:8000/Latest/ShowInventory/">Latest Show Inventory</a></td>
    </tr>
    <tr>
      <td>Show IP Interface Brief</td>
      <td><a href="http://localhost:8000/Latest/ShowIPInterfaceBrief/">Latest Show IP Interface Brief</a></td>
    </tr>
    <tr>
      <td>Show Version</td>
      <td><a href="http://localhost:8000/Latest/ShowVersion/">Latest Show Version</a></td>
    </tr>
    </tbody>
</table>
<script>
  $(document).ready( function () {
    $('#latest').DataTable({
      keys: true,
      colReorder: true,
      select: true,
    });
} ); 
</script>
{% endblock %}