{% extends "base.html" %}

{% block title %}Latest Versions{% endblock %}

{% block content %}
<h1>Latest Versions</h1>
    <table class="merlin-table">
      <thead>
        <tr>
          <th>Command</th>          
          <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Learn VLAN</td>
          <td><a href="http://localhost:8000/Latest/LearnVLAN/">Latest Learn VLAN</a></td>
        </tr>
        <tr>
          <td>Learn VRF</td>
          <td><a href="http://localhost:8000/Latest/LearnVRF/">Latest Learn VRF</a></td>
        </tr>
        <tr>
          <td>Learn VLAN</td>
          <td><a href="http://localhost:8000/Latest/ShowVersion/">Latest Show Version</a></td>
        </tr>
        </tbody></table>{% endblock %}