{% extends "base.html" %}

{% block title %}Business Ready Document Centre{% endblock %}

{% block content %}
<h1>Business Ready Document Centre</h1>
<table class="merlin-table">
  <thead>
  <tr>
  <th>Command</th>
  <th>All Records</th>
  <th>Latest Record</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Learn ACL</td>
    <td><button onclick="location.href='{% url 'learn_acl_csv' %}'">Export All ACL Records</button></td>
    <td><button onclick="location.href='{% url 'learn_acl_csv_latest' %}'">Export Latest ACL Records</button></td>
  </tr>
  <tr>
    <td>Learn ARP</td>
    <td><button onclick="location.href='{% url 'learn_arp_csv' %}'">Export All ARP Records</button></td>
    <td><button onclick="location.href='{% url 'learn_arp_csv_latest' %}'">Export Latest ARP Records</button></td>
  </tr>
  <tr>
    <td>Learn ARP Statistics</td>
    <td><button onclick="location.href='{% url 'learn_arp_statistics_csv' %}'">Export All ARP Statistics Records</button></td>
    <td><button onclick="location.href='{% url 'learn_arp_statistics_csv_latest' %}'">Export Latest ARP Statistics Records</button></td>
  </tr>
  <tr>
    <td>Learn BGP Instances</td>
    <td><button onclick="location.href='{% url 'learn_bgp_instances_csv' %}'">Export All Records</button></td>
    <td><button onclick="location.href='{% url 'learn_bgp_instances_csv_latest' %}'">Export Latest Records</button></td>
  </tr>
  <tr>
    <td>Learn BGP Routes</td>
    <td><button onclick="location.href='{% url 'learn_bgp_routes_csv' %}'">Export All Records</button></td>
    <td><button onclick="location.href='{% url 'learn_bgp_routes_csv_latest' %}'">Export Latest Records</button></td>
  </tr>
  <tr>
    <td>Learn BGP Tables</td>
    <td><button onclick="location.href='{% url 'learn_bgp_tables_csv' %}'">Export All Records</button></td>
    <td><button onclick="location.href='{% url 'learn_bgp_tables_csv_latest' %}'">Export Latest Records</button></td>
  </tr>  
  <tr>
    <td>Learn VLAN</td>
    <td><button onclick="location.href='{% url 'learn_vlan_csv' %}'">Export All VLAN Records</button></td>
    <td><button onclick="location.href='{% url 'learn_vlan_csv_latest' %}'">Export Latest VLAN Records</button></td>
  </tr>
  <tr>
    <td>Learn VRF</td>
    <td><button onclick="location.href='{% url 'learn_vrf_csv' %}'">Export All VRF Records</button></td>
    <td><button onclick="location.href='{% url 'learn_vlan_csv_latest' %}'">Export Latest VRF Records</button></td>
  </tr>
  <tr>
    <td>Show Inventory</td>
    <td><button onclick="location.href='{% url 'show_inventory_csv' %}'">Export All Inventory Records</button></td>
    <td><button onclick="location.href='{% url 'show_inventory_csv_latest' %}'">Export Latest Inventory Records</button></td>
  </tr>
  <tr>
    <td>Show IP Interface Brief</td>
    <td><button onclick="location.href='{% url 'show_ip_int_brief_csv' %}'">Export All IP Interace Brief Records</button></td>
    <td><button onclick="location.href='{% url 'show_ip_int_brief_csv_latest' %}'">Export Latest IP Interace Brief Records</button></td>
  </tr>  
  <tr>
    <td>Show Version</td>
    <td><button onclick="location.href='{% url 'show_version_csv' %}'">Export All Version Records</button></td>
    <td><button onclick="location.href='{% url 'show_version_csv_latest' %}'">Export Latest Version Records</button></td>
  </tr>
  </tbody>
</table>
{% endblock %}