{% extends "base.html" %}

{% block title %}Learn VRF for {{ pyats_alias }}{% endblock %}

{% block content %}
<h1>Learn VRF for {{ pyats_alias }}</h1>
{% for vrf in vrf_list %}
    <p>Device Name: {{ vrf.hostname }}</p>
    <p>Captured {{ vrf.timestamp }}</p>
    <table class="merlin-table">
      <thead>
        <tr>
          <th>pyATS Alias</th>          
          <th>VRF</th>
          <th>Address Family IPv4</th>
          <th>Address Family IPv6</th>
          <th>Route Distinguisher</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ vrf.pyats_alias }}</td>
          <td>{{ vrf.vrf }}</td>
          <td>{{ vrf.address_family_ipv4 }}</td>
          <td>{{ vrf.address_family_ipv6 }}</td>
          <td>{{ vrf.route_distinguisher }}</td>
        </tr>
        </tbody></table>{% endfor %}{% endblock %}