{% extends "base.html" %}

{% block title %}Learn ACL for {{ year }} {{ month }}{% endblock %}

{% block content %}
<h1>Learn ACL for {{ year }} {{ month }}</h1>
<table id = "learn_acl" class="table table-bordered">
  <thead class = "alert-success">
  <tr>
  <th>pyATS Alias</th>
  <th>Access Control List</th>
  <th>Access Control Entry</th>
  <th>Permission</th>
  <th>Logging</th>
  <th>Source Network</th>
  <th>Destination Network</th>
  <th>Layer 3 Protocol</th>
  <th>Layer 4 Protocol</th>
  <th>Operator</th>
  <th>Port</th>
  <th>Timestamp</th>
  </tr>
  </thead>
  <tbody>{% for acl in acl_list %}
  <tr>
    <td>{{ acl.pyats_alias }}</td>
    <td>{{ acl.acl }}</td>
    <td>{{ acl.ace }}</td>
    <td>{{ acl.permission }}</td>
    <td>{{ acl.logging }}</td>
    <td>{{ acl.source_network }}</td>
    <td>{{ acl.destination_network }}</td>
    <td>{{ acl.l3_protocol }}</td>
    <td>{{ acl.l4_protocol }}</td>
    <td>{{ acl.operator }}</td>
    <td>{{ acl.port }}</td>
    <td>{{ acl.timestamp }}</td>
  </tr>{% endfor %}  
  </tbody>
</table>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#learn_acl').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true
    });
    });
</script>
{% endblock %}